@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

body {

  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
}